- if current_user.nil?
  .hero-unit
    %h2 Sign in to access your balance
- else
  .row
    .span12
      .coffee-buttons
        = link_to 'Caffinate!', '#', class: 'btn btn-primary btn-block'
      
      %h3 Available Coffee
      - current_user.cups.to_i.times do |i|
        .pull-left.cup{style:"max-width:50px; margin: 5px;"}= image_tag 'coffee-cup.svg'